Package: com.ajaidan.dontstealplease
Name: DontStealPlease
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: A tweak to disable powering the device down when on the lock screen.
Maintainer: Jaidan A
Author: Jaidan A
Section: Tweaks
