Package: com.ajaidan.dontstealplease
Name: DontStealPlease
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: A tweak to disable powering the device down when on the lock screen.
Maintainer: ajaidan0
Author: ajaidan0
Section: Tweaks
